


.navbar
{
  display:flex;
  flex-direction: row !important;
  justify-content: space-between !important;
  

}
.links
{

  display: inline-flex;
  
}
.search-bar
{
  display:inline-flex;
  flex-direction: row;
  padding:5px;
}
.search-bar *
{
  margin-right:5px;
}
.search-select
{
  width:250px;
  color:black;
}
.bug-page button
{
  margin:10px;

}

.user-form
{
  height:auto;
  width:300px;
  padding: 10px;
  font-family: "Poppins";
}
.user-form *
{
  width:100%;
  margin:10px;
}
.user-form button
{
  background-color:lightcoral;
  width:100%;
  border-radius:0;
  border:0;
  transition:background-color 250ms;
}
.user-form button:hover
{
  filter:brightness(75%);
  background-color: red;
}
.user-form p
{
  color:red;
  width:100%;
}
.user-form textarea
{
  width:400px;
}
.bug-page-buttons
{
  display:flex;
  flex-direction:row;

}